# Terraform / OpenTofu
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.plan
tfplan
crash.log
crash.*.log
*.tfvars
*.auto.tfvars.json
!terraform/terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Packer
packer_cache/
*.pkrvars.hcl
!packer/pkrvars.example.hcl
*.iso

# Ansible
*.retry
ansible.log
.ansible/

# Generated Vault Credentials and TLS Certificates/Keys
credentials/
*.key
*.pem
*.pfx
*.p12
*.crt
*.csr
*.cert
autounseal_token.txt
*cluster_credentials*.json
*transit_credentials*.json
*.snap

# Environment / Secret Files
.env
.env.*

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*~
