# Terraform / OpenTofu
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ansible
*.retry
ansible.log
.ansible/

# Generated Vault Credentials and TLS Private Keys
credentials/
*.key
*.pem
*.pfx
*.p12

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*~
